.our-coffee {
    min-height:  260px;
    background: url('../../../assets/our_coffee_bg.jpg') center (center/cover) no-repeat;
    h2 {
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        text-align: center;
        margin-top: 60px;
    }
}